.food {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 1120px;

  @include trebuchet;
}

.food__card-link {
  display: block;
  box-sizing: border-box;
  width: 320px;
  height: 480px;
  padding: 4px;

  text-decoration: none;

  @include bevel-bg($blue);
  border-radius: 12px;

  &:hover {
    @include recolor-card($light-blue);
  }
}

.food__card {
  position: relative;
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 312px;
  height: 472px;
  padding: 17px 11px 11px 45px;

  color: $grey-text;

  background: linear-gradient(135deg, rgba($white, 0) 28.5px, $white 28.5px);
  border-radius: 9px;

  & > * {
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 9px;
    background: url("../img/cat@1x.png") top 203px left -28px no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/cat@2x.png") top 203px left -28px / 370px 362px no-repeat;
    }
  }
}

.food__tagline {
  font-size: 16px;
  line-height: 19px;
}

.food__name {
  margin: 5px 0 15px;
  text-indent: -2px;
  font-size: 48px;
  line-height: 56px;
  color: $black;
}

.food__taste {
  display: block;
  text-indent: 0;
  font-size: 24px;
  line-height: 26px;
}

.food__advantages-list {
  @include reset-list;
}

.food__advantages-item {
  font-size: 14px;
}

.food__amount {
  align-self: flex-end;

  box-sizing: border-box;
  width: 80px;
  height: 80px;
  margin: 0;
  margin-top: auto;
  padding-top: 10px;

  font-size: 42px;
  line-height: 42px;
  text-align: center;
  color: $white;

  border-radius: 50%;
  background-color: $blue;
}

.food__measure {
  display: block;
  font-size: 21px;
  line-height: 18px;
}

.food__descriptor {
  max-width: 320px;
  margin: 15px 0 24px;
  font-size: 13px;
  text-align: center;
}

.food__link {
  color: $blue;
  text-decoration: none;
  border-bottom: 1px dashed $blue;

  &:hover {
    color: $light-blue;
    border-bottom: 1px dashed $light-blue;
  }
}

.food__item--selected {
  .food__card-link {
    @include recolor-card($pink);

    &:hover {
      @include recolor-card($light-pink);

      .food__tagline {
        color: $light-pink;
      }
    }
  }
}

.food__item--selected.hover-block {
  .food__card-link:hover {
    @include recolor-card($pink);

    .food__tagline {
      color: $grey-text;
    }
  }
}

.food__item--disabled {
  .food__card-link {
    @include recolor-card($grey);
    cursor: default;
  }

  .food__card {
    color: $light-grey;

    &::before {
      opacity: 0.5;
    }
  }

  .food__name {
    color: $light-grey;
  }

  .food__descriptor {
    color: $yellow;
  }
}

@media (max-width: $tablet-width) {
  .food {
    width: 720px;
  }

  .food__item {
    margin-right: 80px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:last-child {
      margin: auto;
    }
  }
}

@media (max-width: $mobile-width) {
  .food {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .food__item {
    margin-right: 0;
  }
}
