@font-face {
  font-family: "Exo 2.0";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local("Exo 2.0"),
    url("../fonts/exo2thin.woff2") format("woff2"),
    url("../fonts/exo2thin.woff") format("woff");
}
