@mixin exo2 {
  font-family: "Exo 2.0", "Trebuchet MS", "Helvetica", sans-serif;
}

@mixin trebuchet {
  font-family: "Trebuchet MS", "Helvetica", sans-serif;
}

@mixin reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin bevel-bg ($color) {
  background: linear-gradient(135deg, rgba($color, 0) 30px, $color 30px);
}

@mixin recolor-card ($color) {
  @include bevel-bg($color);

  .food__amount {
    background-color: $color;
  }
}
