$mobile-width: 767px;
$tablet-width: 1279px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$white: #ffffff;
$black: #000000;
$grey-text: #666666;
$blue: #1698d9;
$light-blue: #2ea8e5;
$pink: #d91667;
$light-pink: #e52e7a;
$grey: #b3b3b3;
$light-grey: #d4d4d4;
$yellow: #ffff66;
